src/__pycache__
src/configuration/__pycache__
src/manager/__pycache__
src/manager/linksdialog/__pycache__
src/manager/views/__pycache__
src/manager/views/moduleview/__pycache__
src/manager/views/flowview/__pycache__
src/manager/views/linksview/__pycache__
src/manager/views/paramsview/__pycache__
src/manager/views/dataview/__pycache__
src/manager/models/__pycache__
src/manager/models/data/__pycache__
src/manager/models/worksheet/__pycache__
src/manager/models/flow/__pycache__
src/manager/models/module/__pycache__
src/manager/converters/__pycache__
src/mix
*.bak
config*.json
fsm-cfg.json
.vscode
